.titulo{
    font-family: "Courier New", Courier, monospace;
}

h1{
    color: blue;
    text-align: center;
}
img{
    width: 100%;
}
p{
    background-color:bisque;
}
header ul{
    display: inline;
}
header ul:hover{
    background-color: aquamarine;
}